templates/weekly-reliability-scorecard.json
{
  "name": "Weekly reliability scorecard",
  "nodes": [
    {
      "parameters": {
        "content": "## Weekly reliability scorecard → Slack + email\n\nEvery Monday morning this workflow audits **every workflow in your n8n** and turns the result into a shareable scorecard: the instance grade, how many workflows are at risk, and the worst offenders. It posts the scorecard to Slack **and** emails it — perfect for a weekly team or client report.\n\n**What you need**\n- A *NoCrash — Your n8n Instance API* credential (your own n8n URL + n8n API key) on the audit step.\n- A Slack credential and an SMTP/email credential on the send steps.\n\nThe free audit grades **design only** — it never reads your executions. Credentials are stripped before anything is sent.\n\nRequires a free NoCrash account → https://nocrash.io",
        "height": 380,
        "width": 440,
        "color": 4
      },
      "id": "note-overview",
      "name": "How this works",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-300, -60]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [1],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "trigger-weekly-monday",
      "name": "Every Monday at 9am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [220, 180]
    },
    {
      "parameters": {
        "operation": "audit",
        "scope": "all",
        "maxWorkflows": 50
      },
      "id": "audit-my-n8n",
      "name": "Audit my n8n (NoCrash)",
      "type": "n8n-nodes-nocrash.nocrash",
      "typeVersion": 1,
      "position": [440, 180],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "nocrashN8nApi": {
          "id": "REPLACE_WITH_YOUR_NOCRASH_N8N_CREDENTIAL_ID",
          "name": "NoCrash — Your n8n Instance API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a-grade",
              "name": "grade",
              "value": "={{ $json.instanceScore }}",
              "type": "number"
            },
            {
              "id": "a-band",
              "name": "band",
              "value": "={{ $json.instanceBandLabel }}",
              "type": "string"
            },
            {
              "id": "a-count",
              "name": "workflowCount",
              "value": "={{ $json.workflowCount }}",
              "type": "number"
            },
            {
              "id": "a-atrisk",
              "name": "atRiskCount",
              "value": "={{ ($json.workflows || []).filter(w => w.band !== 'green').length }}",
              "type": "number"
            },
            {
              "id": "a-worst",
              "name": "worstOffenders",
              "value": "={{ ($json.workflows || []).slice().sort((a,b) => (a.score||0) - (b.score||0)).slice(0,3).map(w => '• ' + w.name + ' — ' + w.score + '/100').join('\\n') }}",
              "type": "string"
            },
            {
              "id": "a-scorecard",
              "name": "scorecard",
              "value": "=Weekly n8n reliability scorecard\n\nInstance grade: {{ $json.instanceScore }}/100 ({{ $json.instanceBandLabel }})\nWorkflows graded: {{ $json.workflowCount }}\nNeed a look: {{ ($json.workflows || []).filter(w => w.band !== 'green').length }}\n\nLowest-scoring workflows:\n{{ ($json.workflows || []).slice().sort((a,b) => (a.score||0) - (b.score||0)).slice(0,3).map(w => '• ' + w.name + ' — ' + w.score + '/100').join('\\n') }}\n\nWatch them 24/7 and get alerted the moment one breaks: {{ $json.connectUrl }}",
              "type": "string"
            },
            {
              "id": "a-emoji",
              "name": "emoji",
              "value": "={{ $json.instanceScore >= 80 ? ':large_green_circle:' : $json.instanceScore >= 60 ? ':large_yellow_circle:' : ':red_circle:' }}",
              "type": "string"
            },
            {
              "id": "a-connect",
              "name": "connectUrl",
              "value": "={{ $json.connectUrl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "build-scorecard",
      "name": "Build the scorecard",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 180]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "name",
          "value": "automation-health"
        },
        "text": "={{ $json.emoji }} *Weekly reliability scorecard — {{ $json.grade }}/100 ({{ $json.band }})*\nGraded {{ $json.workflowCount }} workflows · *{{ $json.atRiskCount }}* need a look.\n\n*Lowest-scoring:*\n{{ $json.worstOffenders }}\n\nWatch them 24/7 → {{ $json.connectUrl }}",
        "otherOptions": {}
      },
      "id": "post-scorecard-slack",
      "name": "Post scorecard to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [900, 80],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "slackApi": {
          "id": "REPLACE_WITH_YOUR_SLACK_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "reports@example.com",
        "toEmail": "team@example.com",
        "subject": "=Weekly n8n reliability scorecard — {{ $json.grade }}/100",
        "emailFormat": "text",
        "text": "={{ $json.scorecard }}",
        "options": {}
      },
      "id": "email-scorecard",
      "name": "Email the scorecard",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 280],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    }
  ],
  "connections": {
    "Every Monday at 9am": {
      "main": [
        [
          {
            "node": "Audit my n8n (NoCrash)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit my n8n (NoCrash)": {
      "main": [
        [
          {
            "node": "Build the scorecard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build the scorecard": {
      "main": [
        [
          {
            "node": "Post scorecard to Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email the scorecard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "UTC",
    "executionTimeout": 300,
    "saveExecutionProgress": true,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
